{
  "openapi": "3.0.2",
  "info": {
    "title": "Humanloop API",
    "description": "The Humanloop API allows you to interact with Humanloop from your product or service.\n\nYou can do this through HTTP requests from any language or via our official Python or TypeScript SDK.\n\nTo install the official [Python SDK](https://pypi.org/project/humanloop/), run the following command:\n\n```bash\npip install humanloop\n```\n\nTo install the official [TypeScript SDK](https://www.npmjs.com/package/humanloop), run the following command:\n\n```bash\nnpm i humanloop\n```\n\n---\n\nGuides and further details about key concepts can be found in [our docs](https://docs.humanloop.com/).",
    "version": "5.0.0"
  },
  "servers": [
    {
      "url": "https://api.humanloop.com/v5",
      "description": "Production server"
    }
  ],
  "paths": {
    "/prompts/log": {
      "post": {
        "tags": ["Prompts"],
        "summary": "Log",
        "description": "Log to a Prompt.\n\nYou can use query parameters `version_id`, or `environment`, to target\nan existing version of the Prompt. Otherwise, the default deployed version will be chosen.\n\nInstead of targeting an existing version explicitly, you can instead pass in\nPrompt details in the request body. In this case, we will check if the details correspond\nto an existing version of the Prompt. If they do not, we will create a new version. This is helpful\nin the case where you are storing or deriving your Prompt details in code.",
        "operationId": "log_prompts_log_post",
        "parameters": [
          {
            "description": "A specific Version ID of the Prompt to log to.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "A specific Version ID of the Prompt to log to."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "Name of the Environment identifying a deployed version to log to.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "Name of the Environment identifying a deployed version to log to."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptLogRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePromptLogResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/call": {
      "post": {
        "tags": ["Prompts"],
        "summary": "Call",
        "description": "Call a Prompt.\n\nCalling a Prompt calls the model provider before logging\nthe request, responses and metadata to Humanloop.\n\nYou can use query parameters `version_id`, or `environment`, to target\nan existing version of the Prompt. Otherwise the default deployed version will be chosen.\n\nInstead of targeting an existing version explicitly, you can instead pass in\nPrompt details in the request body. In this case, we will check if the details correspond\nto an existing version of the Prompt. If they do not, we will create a new version. This is helpful\nin the case where you are storing or deriving your Prompt details in code.",
        "operationId": "call_prompts_call_post",
        "parameters": [
          {
            "description": "A specific Version ID of the Prompt to log to.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "A specific Version ID of the Prompt to log to."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "Name of the Environment identifying a deployed version to log to.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "Name of the Environment identifying a deployed version to log to."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptCallRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PromptCallResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PromptCallStreamResponse"
                    }
                  ],
                  "title": "Response Call Prompts Call Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts": {
      "get": {
        "tags": ["Prompts"],
        "summary": "List ",
        "description": "Get a list of all Prompts.",
        "operationId": "list__prompts_get",
        "parameters": [
          {
            "description": "Page number for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Page number",
              "description": "Page number for pagination.",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Page size for pagination. Number of Prompts to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "title": "Page size",
              "description": "Page size for pagination. Number of Prompts to fetch.",
              "default": 10
            },
            "name": "size",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for Prompt name.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Prompt name filter",
              "description": "Case-insensitive filter for Prompt name."
            },
            "name": "name",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for users in the Prompt. This filter matches against both email address and name of users.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "User filter",
              "description": "Case-insensitive filter for users in the Prompt. This filter matches against both email address and name of users."
            },
            "name": "user_filter",
            "in": "query"
          },
          {
            "description": "Field to sort Prompts by",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ProjectSortBy"
                }
              ],
              "title": "Sort by",
              "description": "Field to sort Prompts by",
              "default": "created_at"
            },
            "name": "sort_by",
            "in": "query"
          },
          {
            "description": "Direction to sort by.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                }
              ],
              "title": "Sort order",
              "description": "Direction to sort by.",
              "default": "desc"
            },
            "name": "order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_PromptResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": ["Prompts"],
        "summary": "Upsert",
        "description": "Create a Prompt or update it with a new version if it already exists.\n\nPrompts are identified by the `ID` or their `path`. The parameters (i.e. the prompt template, temperature, model etc.) determine the versions of the Prompt.\n\nIf you provide a commit message, then the new version will be committed;\notherwise it will be uncommitted. If you try to commit an already committed version,\nan exception will be raised.",
        "operationId": "upsert_prompts_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/{id}": {
      "get": {
        "tags": ["Prompts"],
        "summary": "Get",
        "description": "Retrieve the Prompt with the given ID.\n\nBy default, the deployed version of the Prompt is returned. Use the query parameters\n`version_id` or `environment` to target a specific version of the Prompt.",
        "operationId": "get_prompts__id__get",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "A specific Version ID of the Prompt to retrieve.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "A specific Version ID of the Prompt to retrieve."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "Name of the Environment to retrieve a deployed Version from.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "Name of the Environment to retrieve a deployed Version from."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": ["Prompts"],
        "summary": "Delete",
        "description": "Delete the Prompt with the given ID.",
        "operationId": "delete_prompts__id__delete",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": ["Prompts"],
        "summary": "Move",
        "description": "Move the Prompt to a different path or change the name.",
        "operationId": "move_prompts__id__patch",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/{id}/versions": {
      "get": {
        "tags": ["Prompts"],
        "summary": "List Versions",
        "description": "Get a list of all the versions of a Prompt.",
        "operationId": "list_versions_prompts__id__versions_get",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/VersionStatus"
                }
              ],
              "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
            },
            "name": "status",
            "in": "query"
          },
          {
            "description": "Whether to include Evaluator aggregate results for the versions in the response",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Evaluator Aggregates",
              "description": "Whether to include Evaluator aggregate results for the versions in the response"
            },
            "name": "evaluator_aggregates",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPrompts"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/{id}/versions/{version_id}/commit": {
      "post": {
        "tags": ["Prompts"],
        "summary": "Commit",
        "description": "Commit a version of the Prompt with a commit message.\n\nIf the version is already committed, an exception will be raised.",
        "operationId": "commit_prompts__id__versions__version_id__commit_post",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the specific version of the Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "Unique identifier for the specific version of the Prompt."
            },
            "name": "version_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/{id}/evaluators": {
      "post": {
        "tags": ["Prompts"],
        "summary": "Update Monitoring",
        "description": "Activate and deactivate Evaluators for monitoring the Prompt.\n\nAn activated Evaluator will automatically be run on all new Logs\nwithin the Prompt for monitoring purposes.",
        "operationId": "update_monitoring_prompts__id__evaluators_post",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluatorActivationDeactivationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/{id}/environments/{environment_id}": {
      "post": {
        "tags": ["Prompts"],
        "summary": "Set Deployment",
        "description": "Deploy Prompt to an Environment.\n\nSet the deployed version for the specified Environment. This Prompt\nwill be used for calls made to the Prompt in this Environment.",
        "operationId": "set_deployment_prompts__id__environments__environment_id__post",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the Environment to deploy the Version to.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Environment ID",
              "description": "Unique identifier for the Environment to deploy the Version to."
            },
            "name": "environment_id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the specific version of the Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "Unique identifier for the specific version of the Prompt."
            },
            "name": "version_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": ["Prompts"],
        "summary": "Remove Deployment",
        "description": "Remove deployed Prompt from the Environment.\n\nRemove the deployed version for the specified Environment. This Prompt\nwill no longer be used for calls made to the Prompt in this Environment.",
        "operationId": "remove_deployment_prompts__id__environments__environment_id__delete",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the Environment to remove the deployment from.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Environment ID",
              "description": "Unique identifier for the Environment to remove the deployment from."
            },
            "name": "environment_id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/prompts/{id}/environments": {
      "get": {
        "tags": ["Prompts"],
        "summary": "List Environments",
        "description": "List all Environments and their deployed versions for the Prompt.",
        "operationId": "list_environments_prompts__id__environments_get",
        "parameters": [
          {
            "description": "Unique identifier for Prompt.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Prompt ID",
              "description": "Unique identifier for Prompt."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FileEnvironmentResponse"
                  },
                  "type": "array",
                  "title": "Response List Environments Prompts  Id  Environments Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/log": {
      "post": {
        "tags": ["Tools"],
        "summary": "Log",
        "description": "Log to a Tool.\n\nYou can use query parameters `version_id`, or `environment`, to target\nan existing version of the Tool. Otherwise the default deployed version will be chosen.\n\nInstead of targeting an existing version explicitly, you can instead pass in\nTool details in the request body. In this case, we will check if the details correspond\nto an existing version of the Tool, if not we will create a new version. This is helpful\nin the case where you are storing or deriving your Tool details in code.",
        "operationId": "log_tools_log_post",
        "parameters": [
          {
            "description": "A specific Version ID of the Tool to log to.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "A specific Version ID of the Tool to log to."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "Name of the Environment identifying a deployed version to log to.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "Name of the Environment identifying a deployed version to log to."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolLogRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateToolLogResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools": {
      "get": {
        "tags": ["Tools"],
        "summary": "List ",
        "description": "Get a list of all Tools.",
        "operationId": "list__tools_get",
        "parameters": [
          {
            "description": "Page offset for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Page index",
              "description": "Page offset for pagination.",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Page size for pagination. Number of Tools to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page size",
              "description": "Page size for pagination. Number of Tools to fetch.",
              "default": 10
            },
            "name": "size",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for Tool name.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Tool name filter",
              "description": "Case-insensitive filter for Tool name."
            },
            "name": "name",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for users in the Tool. This filter matches against both email address and name of users.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "User filter",
              "description": "Case-insensitive filter for users in the Tool. This filter matches against both email address and name of users."
            },
            "name": "user_filter",
            "in": "query"
          },
          {
            "description": "Field to sort Tools by",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ProjectSortBy"
                }
              ],
              "title": "Sort by",
              "description": "Field to sort Tools by",
              "default": "created_at"
            },
            "name": "sort_by",
            "in": "query"
          },
          {
            "description": "Direction to sort by.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                }
              ],
              "title": "Sort order",
              "description": "Direction to sort by.",
              "default": "desc"
            },
            "name": "order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_ToolResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": ["Tools"],
        "summary": "Upsert",
        "description": "Create a Tool or update it with a new version if it already exists.\n\nTools are identified by the `ID` or their `path`. The name, description and parameters determine the versions of the Tool.\n\nIf you provide a commit message, then the new version will be committed;\notherwise it will be uncommitted. If you try to commit an already committed version,\nan exception will be raised.",
        "operationId": "upsert_tools_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/{id}": {
      "get": {
        "tags": ["Tools"],
        "summary": "Get",
        "description": "Retrieve the Tool with the given ID.\n\nBy default, the deployed version of the Tool is returned. Use the query parameters\n`version_id` or `environment` to target a specific version of the Tool.",
        "operationId": "get_tools__id__get",
        "parameters": [
          {
            "description": "Unique identifier for Tool.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool ID",
              "description": "Unique identifier for Tool."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "A specific Version ID of the Tool to retrieve.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "A specific Version ID of the Tool to retrieve."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "Name of the Environment to retrieve a deployed Version from.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "Name of the Environment to retrieve a deployed Version from."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": ["Tools"],
        "summary": "Delete",
        "description": "Delete the Tool with the given ID.",
        "operationId": "delete_tools__id__delete",
        "parameters": [
          {
            "description": "Unique identifier for Tool.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool ID",
              "description": "Unique identifier for Tool."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": ["Tools"],
        "summary": "Move",
        "description": "Move the Tool to a different path or change the name.",
        "operationId": "move_tools__id__patch",
        "parameters": [
          {
            "description": "Unique identifier for Tool.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool ID",
              "description": "Unique identifier for Tool."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateToolRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/{id}/versions": {
      "get": {
        "tags": ["Tools"],
        "summary": "List Versions",
        "description": "Get a list of all the versions of a Tool.",
        "operationId": "list_versions_tools__id__versions_get",
        "parameters": [
          {
            "description": "Unique identifier for the Tool.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool ID",
              "description": "Unique identifier for the Tool."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/VersionStatus"
                }
              ],
              "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
            },
            "name": "status",
            "in": "query"
          },
          {
            "description": "Whether to include Evaluator aggregate results for the versions in the response",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Evaluator Aggregates",
              "description": "Whether to include Evaluator aggregate results for the versions in the response"
            },
            "name": "evaluator_aggregates",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTools"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/{id}/versions/{version_id}/commit": {
      "post": {
        "tags": ["Tools"],
        "summary": "Commit",
        "description": "Commit a version of the Tool with a commit message.\n\nIf the version is already committed, an exception will be raised.",
        "operationId": "commit_tools__id__versions__version_id__commit_post",
        "parameters": [
          {
            "description": "Unique identifier for Tool.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool ID",
              "description": "Unique identifier for Tool."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the specific version of the Tool.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "Unique identifier for the specific version of the Tool."
            },
            "name": "version_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/{id}/evaluators": {
      "post": {
        "tags": ["Tools"],
        "summary": "Update Monitoring",
        "description": "Activate and deactivate Evaluators for monitoring the Tool.\n\nAn activated Evaluator will automatically be run on all new Logs\nwithin the Tool for monitoring purposes.",
        "operationId": "update_monitoring_tools__id__evaluators_post",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluatorActivationDeactivationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/{id}/environments/{environment_id}": {
      "post": {
        "tags": ["Tools"],
        "summary": "Set Deployment",
        "description": "Deploy Tool to an Environment.\n\nSet the deployed version for the specified Environment. This Prompt\nwill be used for calls made to the Tool in this Environment.",
        "operationId": "set_deployment_tools__id__environments__environment_id__post",
        "parameters": [
          {
            "description": "Unique identifier for Tool.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool ID",
              "description": "Unique identifier for Tool."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the Environment to deploy the Version to.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Environment ID",
              "description": "Unique identifier for the Environment to deploy the Version to."
            },
            "name": "environment_id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the specific version of the Tool.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "Unique identifier for the specific version of the Tool."
            },
            "name": "version_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": ["Tools"],
        "summary": "Remove Deployment",
        "description": "Remove deployed Tool from the Environment.\n\nRemove the deployed version for the specified Environment. This Tool\nwill no longer be used for calls made to the Tool in this Environment.",
        "operationId": "remove_deployment_tools__id__environments__environment_id__delete",
        "parameters": [
          {
            "description": "Unique identifier for Tool.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool ID",
              "description": "Unique identifier for Tool."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the Environment to remove the deployment from.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Environment ID",
              "description": "Unique identifier for the Environment to remove the deployment from."
            },
            "name": "environment_id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/{id}/environments": {
      "get": {
        "tags": ["Tools"],
        "summary": "List Environments",
        "description": "List all Environments and their deployed versions for the Tool.",
        "operationId": "list_environments_tools__id__environments_get",
        "parameters": [
          {
            "description": "Unique identifier for Tool.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tool ID",
              "description": "Unique identifier for Tool."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FileEnvironmentResponse"
                  },
                  "type": "array",
                  "title": "Response List Environments Tools  Id  Environments Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets": {
      "get": {
        "tags": ["Datasets"],
        "summary": "List ",
        "description": "List all Datasets.",
        "operationId": "list__datasets_get",
        "parameters": [
          {
            "description": "Page offset for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Page index",
              "description": "Page offset for pagination.",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Page size for pagination. Number of Datasets to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "title": "Page size",
              "description": "Page size for pagination. Number of Datasets to fetch.",
              "default": 10
            },
            "name": "size",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for Dataset name.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Dataset name filter",
              "description": "Case-insensitive filter for Dataset name."
            },
            "name": "name",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for users in the Dataset. This filter matches against both email address and name of users.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "User filter",
              "description": "Case-insensitive filter for users in the Dataset. This filter matches against both email address and name of users."
            },
            "name": "user_filter",
            "in": "query"
          },
          {
            "description": "Field to sort Datasets by",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ProjectSortBy"
                }
              ],
              "title": "Sort by",
              "description": "Field to sort Datasets by",
              "default": "created_at"
            },
            "name": "sort_by",
            "in": "query"
          },
          {
            "description": "Direction to sort by.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                }
              ],
              "title": "Sort order",
              "description": "Direction to sort by.",
              "default": "desc"
            },
            "name": "order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_DatasetResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": ["Datasets"],
        "summary": "Upsert",
        "description": "Create a Dataset or update it with a new version if it already exists.\n\nDatasets are identified by the `ID` or their `path`. The datapoints determine the versions of the Dataset.\n\nBy default, the new Dataset version will be set to the list of Datapoints provided in\nthe request. You can also create a new version by adding or removing Datapoints from an existing version\nby specifying `action` as `add` or `remove` respectively. In this case, you may specify\nthe `version_id` or `environment` query parameters to identify the existing version to base\nthe new version on. If neither is provided, the default deployed version will be used.\n\nIf you provide a commit message, then the new version will be committed;\notherwise it will be uncommitted. If you try to commit an already committed version,\nan exception will be raised.\n\nHumanloop also deduplicates Datapoints. If you try to add a Datapoint that already\nexists, it will be ignored. If you intentionally want to add a duplicate Datapoint,\nyou can add a unique identifier to the Datapoint's inputs such as `{_dedupe_id: <unique ID>}`.",
        "operationId": "upsert_datasets_post",
        "parameters": [
          {
            "description": "ID of the specific Dataset version to base the created Version on. Only used when `action` is `\"add\"` or `\"remove\"`.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "ID of the specific Dataset version to base the created Version on. Only used when `action` is `\"add\"` or `\"remove\"`."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "Name of the Environment identifying a deployed Version to base the created Version on. Only used when `action` is `\"add\"` or `\"remove\"`.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "Name of the Environment identifying a deployed Version to base the created Version on. Only used when `action` is `\"add\"` or `\"remove\"`."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/src__external__app__models__v5__datasets__DatasetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets/{id}": {
      "get": {
        "tags": ["Datasets"],
        "summary": "Get",
        "description": "Retrieve the Dataset with the given ID.\n\nUnless `include_datapoints` is set to `true`, the response will not include\nthe Datapoints.\nUse the List Datapoints endpoint (`GET /{id}/datapoints`) to efficiently\nretrieve Datapoints for a large Dataset.\n\nBy default, the deployed version of the Dataset is returned. Use the query parameters\n`version_id` or `environment` to target a specific version of the Dataset.",
        "operationId": "get_datasets__id__get",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "A specific Version ID of the Dataset to retrieve.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "A specific Version ID of the Dataset to retrieve."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "Name of the Environment to retrieve a deployed Version from.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "Name of the Environment to retrieve a deployed Version from."
            },
            "name": "environment",
            "in": "query"
          },
          {
            "description": "If set to `true`, include all Datapoints in the response. Defaults to `false`. Consider using the paginated List Datapoints endpoint instead.",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Include Datapoints",
              "description": "If set to `true`, include all Datapoints in the response. Defaults to `false`. Consider using the paginated List Datapoints endpoint instead.",
              "default": false
            },
            "name": "include_datapoints",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": ["Datasets"],
        "summary": "Delete",
        "description": "Delete the Dataset with the given ID.",
        "operationId": "delete_datasets__id__delete",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": ["Datasets"],
        "summary": "Move",
        "description": "Update the Dataset with the given ID.",
        "operationId": "move_datasets__id__patch",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatasetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets/{id}/datapoints": {
      "get": {
        "tags": ["Datasets"],
        "summary": "List Datapoints",
        "description": "List all Datapoints for the Dataset with the given ID.",
        "operationId": "list_datapoints_datasets__id__datapoints_get",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "A specific Version ID of the Dataset to retrieve.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version Id",
              "description": "A specific Version ID of the Dataset to retrieve."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "Name of the Environment to retrieve a deployed Version from.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "Name of the Environment to retrieve a deployed Version from."
            },
            "name": "environment",
            "in": "query"
          },
          {
            "description": "Page number for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Page",
              "description": "Page number for pagination.",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Page size for pagination. Number of Datapoints to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "title": "Size",
              "description": "Page size for pagination. Number of Datapoints to fetch.",
              "default": 50
            },
            "name": "size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_DatapointResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets/{id}/versions": {
      "get": {
        "tags": ["Datasets"],
        "summary": "List Versions",
        "description": "Get a list of the versions for a Dataset.",
        "operationId": "list_versions_datasets__id__versions_get",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/VersionStatus"
                }
              ],
              "description": "Filter versions by status: 'uncommitted', 'committed'. If no status is provided, all versions are returned."
            },
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDatasets"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets/{id}/versions/{version_id}/commit": {
      "post": {
        "tags": ["Datasets"],
        "summary": "Commit",
        "description": "Commit a version of the Dataset with a commit message.\n\nIf the version is already committed, an exception will be raised.",
        "operationId": "commit_datasets__id__versions__version_id__commit_post",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the specific version of the Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "Unique identifier for the specific version of the Dataset."
            },
            "name": "version_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets/{id}/datapoints/csv": {
      "post": {
        "tags": ["Datasets"],
        "summary": "Upload Csv",
        "description": "Add Datapoints from a CSV file to a Dataset.\n\nThis will create a new committed version of the Dataset with the Datapoints from the CSV file.\n\nIf either `version_id` or `environment` is provided, the new version will be based on the specified version,\nwith the Datapoints from the CSV file added to the existing Datapoints in the version.\nIf neither `version_id` nor `environment` is provided, the new version will be based on the version\nof the Dataset that is deployed to the default Environment.",
        "operationId": "upload_csv_datasets__id__datapoints_csv_post",
        "parameters": [
          {
            "description": "Unique identifier for the Dataset",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for the Dataset"
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "ID of the specific Dataset version to base the created Version on.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "ID of the specific Dataset version to base the created Version on."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "Name of the Environment identifying a deployed Version to base the created Version on.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "Name of the Environment identifying a deployed Version to base the created Version on."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_csv_datasets__id__datapoints_csv_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets/{id}/environments/{environment_id}": {
      "post": {
        "tags": ["Datasets"],
        "summary": "Set Deployment",
        "description": "Deploy Dataset to Environment.\n\nSet the deployed version for the specified Environment.",
        "operationId": "set_deployment_datasets__id__environments__environment_id__post",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the Environment to deploy the Version to.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Environment ID",
              "description": "Unique identifier for the Environment to deploy the Version to."
            },
            "name": "environment_id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the specific version of the Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "Unique identifier for the specific version of the Dataset."
            },
            "name": "version_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": ["Datasets"],
        "summary": "Remove Deployment",
        "description": "Remove deployed Dataset from Environment.\n\nRemove the deployed version for the specified Environment.",
        "operationId": "remove_deployment_datasets__id__environments__environment_id__delete",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Unique identifier for the Environment to remove the deployment from.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Environment ID",
              "description": "Unique identifier for the Environment to remove the deployment from."
            },
            "name": "environment_id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets/{id}/environments": {
      "get": {
        "tags": ["Datasets"],
        "summary": "List Environments",
        "description": "List all Environments and their deployed versions for the Dataset.",
        "operationId": "list_environments_datasets__id__environments_get",
        "parameters": [
          {
            "description": "Unique identifier for Dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "Unique identifier for Dataset."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FileEnvironmentResponse"
                  },
                  "type": "array",
                  "title": "Response List Environments Datasets  Id  Environments Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations": {
      "get": {
        "tags": ["Evaluations"],
        "summary": "List ",
        "description": "List all Evaluations for the specified `file_id`.\n\nRetrieve a list of Evaluations that evaluate versions of the specified File.",
        "operationId": "list__evaluations_get",
        "parameters": [
          {
            "description": "Filter by File ID. Only Evaluations for the specified File will be returned.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File ID",
              "description": "Filter by File ID. Only Evaluations for the specified File will be returned."
            },
            "name": "file_id",
            "in": "query"
          },
          {
            "description": "Page number for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Page number",
              "description": "Page number for pagination.",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Page size for pagination. Number of Evaluations to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "title": "Page size",
              "description": "Page size for pagination. Number of Evaluations to fetch.",
              "default": 10
            },
            "name": "size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_EvaluationResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": ["Evaluations"],
        "summary": "Create",
        "description": "Create an Evaluation.\n\nCreate a new Evaluation by specifying the Dataset, versions to be\nevaluated (Evaluatees), and which Evaluators to provide judgments.\n\nHumanloop will automatically start generating Logs and running Evaluators where\n`orchestrated=true`. If you own the runtime for the Evaluatee or Evaluator, you\ncan set `orchestrated=false` and then generate and submit the required logs using\nyour runtime.\n\nTo keep updated on the progress of the Evaluation, you can poll the Evaluation using\nthe GET /evaluations/{id} endpoint and check its status.",
        "operationId": "create_evaluations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvaluationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations/{id}": {
      "get": {
        "tags": ["Evaluations"],
        "summary": "Get",
        "description": "Get an Evaluation.",
        "operationId": "get_evaluations__id__get",
        "parameters": [
          {
            "description": "Unique identifier for Evaluation.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "Unique identifier for Evaluation."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": ["Evaluations"],
        "summary": "Delete",
        "description": "Delete an Evaluation.\n\nRemove an Evaluation from Humanloop. The Logs and Versions used in the Evaluation\nwill not be deleted.",
        "operationId": "delete_evaluations__id__delete",
        "parameters": [
          {
            "description": "Unique identifier for Evaluation.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "Unique identifier for Evaluation."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": ["Evaluations"],
        "summary": "Update Setup",
        "description": "Update an Evaluation.\n\nUpdate the setup of an Evaluation by specifying the Dataset, versions to be\nevaluated (Evaluatees), and which Evaluators to provide judgments.",
        "operationId": "update_setup_evaluations__id__patch",
        "parameters": [
          {
            "description": "Unique identifier for Evaluation.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "Unique identifier for Evaluation."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvaluationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations/{id}/status": {
      "patch": {
        "tags": ["Evaluations"],
        "summary": "Update Status",
        "description": "Update the status of an Evaluation.\n\nCan be used to cancel a running Evaluation, or mark an Evaluation that uses\nexternal or human evaluators as completed.",
        "operationId": "update_status_evaluations__id__status_patch",
        "parameters": [
          {
            "description": "Unique identifier for Evaluation.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "Unique identifier for Evaluation."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_status_evaluations__id__status_patch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations/{id}/stats": {
      "get": {
        "tags": ["Evaluations"],
        "summary": "Get Stats",
        "description": "Get Evaluation Stats.\n\nRetrieve aggregate stats for the specified Evaluation.\nThis includes the number of generated Logs for each evaluated version and the\ncorresponding Evaluator statistics (such as the mean and percentiles).",
        "operationId": "get_stats_evaluations__id__stats_get",
        "parameters": [
          {
            "description": "Unique identifier for Evaluation.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "Unique identifier for Evaluation."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationStats"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations/{id}/logs": {
      "get": {
        "tags": ["Evaluations"],
        "summary": "Get Logs",
        "description": "Get the Logs associated to a specific Evaluation.\n\nEach Datapoint in your Dataset will have a corresponding Log for each File version evaluated.\ne.g. If you have 50 Datapoints and are evaluating 2 Prompts, there will be 100 Logs associated with the Evaluation.",
        "operationId": "get_logs_evaluations__id__logs_get",
        "parameters": [
          {
            "description": "String ID of evaluation. Starts with `ev_` or `evr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "String ID of evaluation. Starts with `ev_` or `evr_`."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Page number for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Page number",
              "description": "Page number for pagination.",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Page size for pagination. Number of Logs to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "title": "Page size",
              "description": "Page size for pagination. Number of Logs to fetch.",
              "default": 10
            },
            "name": "size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_EvaluationReportLogResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluators": {
      "get": {
        "tags": ["Evaluators"],
        "summary": "List ",
        "description": "Get a list of all Evaluators.",
        "operationId": "list__evaluators_get",
        "parameters": [
          {
            "description": "Page offset for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Page index",
              "description": "Page offset for pagination.",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Page size for pagination. Number of Evaluators to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page size",
              "description": "Page size for pagination. Number of Evaluators to fetch.",
              "default": 10
            },
            "name": "size",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for Evaluator name.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Evaluator name filter",
              "description": "Case-insensitive filter for Evaluator name."
            },
            "name": "name",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for users in the Evaluator. This filter matches against both email address and name of users.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "User filter",
              "description": "Case-insensitive filter for users in the Evaluator. This filter matches against both email address and name of users."
            },
            "name": "user_filter",
            "in": "query"
          },
          {
            "description": "Field to sort Evaluators by",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ProjectSortBy"
                }
              ],
              "title": "Sort by",
              "description": "Field to sort Evaluators by",
              "default": "created_at"
            },
            "name": "sort_by",
            "in": "query"
          },
          {
            "description": "Direction to sort by.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                }
              ],
              "title": "Sort order",
              "description": "Direction to sort by.",
              "default": "desc"
            },
            "name": "order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_EvaluatorResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": ["Evaluators"],
        "summary": "Upsert",
        "description": "Create an Evaluator or update it with a new version if it already exists.\n\nEvaluators are identified by the `ID` or their `path`. The spec provided determines the version of the Evaluator.\n\nIf you provide a commit message, then the new version will be committed;\notherwise it will be uncommitted. If you try to commit an already committed version,\nan exception will be raised.",
        "operationId": "upsert_evaluators_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/src__external__app__models__v5__evaluators__EvaluatorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluators/{id}": {
      "get": {
        "tags": ["Evaluators"],
        "summary": "Get",
        "description": "Retrieve the Evaluator with the given ID.\n\nBy default, the deployed version of the Evaluator is returned. Use the query parameters\n`version_id` or `environment` to target a specific version of the Evaluator.",
        "operationId": "get_evaluators__id__get",
        "parameters": [
          {
            "description": "Unique identifier for Evaluator.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluator ID",
              "description": "Unique identifier for Evaluator."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "A specific Version ID of the Evaluator to retrieve.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Version ID",
              "description": "A specific Version ID of the Evaluator to retrieve."
            },
            "name": "version_id",
            "in": "query"
          },
          {
            "description": "Name of the Environment to retrieve a deployed Version from.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment",
              "description": "Name of the Environment to retrieve a deployed Version from."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
[...]
