dist/
.mypy_cache/
__pycache__/
poetry.toml
.ruff_cache/
.vscode
.env
tests/assets/*.jsonl
tests/assets/*.parquet
# Ignore humanloop directory which could mistakenly be committed when testing sync functionality as it's used as the default sync directory
humanloop
